.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.calculator {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10rem auto auto auto;
  flex-wrap: wrap;
  width: 300px;
}

.result {
  display: flex;
  color: #fff;
  justify-content: flex-end;
  background-color: rgba(150, 150, 150);
  width: 300px;
  height: 50px;
}

.result p {
  padding-right: 5px;
}

button {
  width: 75px;
  height: 50px;
  border: 1px solid lightgrey;
}

.operator {
  background-color: #ff8000;
}

.btn-zero {
  width: 150px;
}
